.ImageListInputItem {
    cursor: pointer;
}

.ImageListInputItem:hover {
    background-color: lightgray;
} 

.ImageListInputItem--img {
    border: 3px solid transparent;
    margin: 0;
    padding: 0;
    display: block;
}

.ImageListInputItem--img-selected {
    border: 3px solid rgb(255, 92, 0);
    margin: 0;
    padding: 0;
    display: block;
}