.ImageListInput {
    margin-top: 20px;
}

.ImageListInput--label {
    font-weight: bold;
}

.ImageListInput--content {
    background-color: white;
    display: flex;
    margin: 5px;
    flex-wrap: wrap;
}